body{
    width: 1440px;
    max-height: 1029px;
    padding: 50px;
    background-color: var(--clr-background);
	display: grid;
}

h1,h2, h3, h4, h5, h6, p, span {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
}
h2{
    color: var(--color-black);
    letter-spacing: -2px;
}
h5{
    color: var(--color-black);
    font-size: 16px;
    line-height: 90%; /* 14.4px */
    letter-spacing: -0.96px;
}
span{
    color: #9E9E9E;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
     display: inline-block;
     white-space: nowrap;
}



a{
    text-decoration: none;
    color: var(--color-purple-500);
    font-family: "General Sans";
    font-size: 19.329px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    display: inline-block;

}

.container {
    max-width: 1110px;
    min-height: 881px;
    display: grid;  
    /* margin: 0 auto; */
    grid-gap: 32px;
     grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr); 
}
.card{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: var(--spacing-300, 24px);

}
.item_1, .item_2, .item_3 {
    padding: var(--spacing-400, 32px);
}
.item_4, .item_5, .item_6, .item_7 {
    padding: var(--spacing-300, 24px);
}
.item_1 {
    background: var(--clr-yellow-100);
    width: 256px;
    height: 415px;
    row-gap: 24px;
    grid-row: 1/11;
}
.item_1 h2{
    font-size: var(--font-size-text-preset-2);
    line-height: 36px;
}
.item_1 span{
    color: var(--clr-purple-500);
   /* Desktop/text-preset-2 */
   font-family: "DM Sans";
   font-size: var(--font-size-text-preset-2);
   font-style: italic;
   font-weight: 500;
   line-height: 36px;
   letter-spacing: -2px;
   }

.create_post{
    border-radius: 42.954px;
    background: var(--clr-yellow-500);
    display: inline-flex;
    padding: 17.182px 25.773px;
    justify-content: center;
    align-items: center;
    gap: 10.739px;
}
.item_2 {
    background: var(--clr-purple-500);
    width: 544px;
    height: 324px;
    flex-shrink: 0;
    grid-column: 2/4;
    grid-row: 1/9;
}
.item_2 h1{
    color: var(--clr-white);
 
    text-align: center;
    font-size: var(--font-size-text-preset-1);
    line-height: 58px; /* 93.548% */
    letter-spacing: -3px;

    margin-block-end: 24px;
}

.item_2 img {
    width: 192px;
    margin-block-end: 8px;
}

.item_3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background: var(--clr-purple-100);
    width: 256px;
    height: 603px;
    align-items: flex-start;
    grid-row: 1/15;
    row-gap:  var(--spacing-300, 24px);
}
.item_3 h2{
    font-size: var(--font-size-text-preset-3);
    line-height: 28px; 
    }
.item_3 p{
    color: var(--clr-black);
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
} 
  
.item_3 img{
    flex-grow: 1;
   min-width: 315px;
   min-height: 277px;
}   

.item_4 {
    background: var(--clr-yellow-500);
    width: 256px;
    height: 434px;
    padding: var(--spacing-300, 24px);
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    grid-row: 11/21;
    row-gap: 55px;
}
.item_4 h2{
    font-size: var(--font-size-text-preset-2, 40px);
    line-height: 36px; /* 90% */
    
    }
.item_4 img {
    min-width: 171px;
    min-height: 190px;
}
.item_5 {
    background: var(--clr-white, #FFF);

    width: 256px;
    height: 247px;
    

    padding: var(--spacing-300, 24px);
    justify-content: flex-start;
    gap: var(--spacing-300, 24px);
    align-items: flex-start;
    grid-row: 9/15;
    overflow: hidden;
}
.item_5 h2, .item_6 h2{
    font-size: var(--font-size-text-preset-3);
    line-height: 28px; /* 87.5% */

}
.item_5 h2{
    color: var(--clr-black);
    width: 208px;
    height: 119px;
    flex-grow: 1;
 
}
.media_scroll{
    display: flex;
    align-items: center;
    position: relative;
}
.media_info{
    height: 34px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
.inst_wrapper{
    margin-inline-end: 10px;  
}
.inst_wrapper, .x_wrapper{
    border-radius: 34.235px;
    background: var(--clr-white, #FFF);
    box-shadow: -9.781px 11.738px 24.454px 0px rgba(98, 26, 123, 0.05);
    align-items: center;
    padding: 12px 24px 12px 12px;
    transition: transform 0.8s ease-in-out;
    
    display: flex;
    column-gap: 8px;  
}
.ellipse{
    width: 42.541px;
    height: 42.541px;
    flex-shrink: 0;
    background-image: url(../images/Ellipse.svg);
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;

}
.inst_wrapper img, .x_wrapper img{
    width: 26px;
    height: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.x_wrapper:hover  {
    transform: translateX(-80%);
}

.item_6 {
    background: var(--clr-yellow-500, #FFCC6A);
    width: 256px;
    height: 247px;
    padding: var(--spacing-300, 24px) var(--spacing-300, 24px) 0px var(--spacing-300, 24px);
    align-items: flex-start;
    gap: var(--spacing-200, 16px);
    grid-row: 9/15;

    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.item_6 img{
    width: 208px;
    height: 157px;
   
}
.item_7 {  
    background: var(--clr-white, #FFF);
    width: 256px;
    height: 246px;
 
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    grid-row: 15/21;
}
.item_7 h2{
    text-align: center;
    font-size: var(--font-size-text-preset-1, 62px);
    line-height: 58px; /* 93.548% */
    letter-spacing: -3px;
    margin-block-end: 15px;
    }

.item_7 img{
    width: 179px;
    height: 67px;
}
.item_8 {
    background: var(--clr-purple-500, #7551DC);
    width: 544px;
    height: 246px;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 43px;
    
    grid-row: 15/21;
    grid-column: 3/5; 
}
.item_8 h2{
    width: 257px;
    width: 100%;
    color: var(--clr-white);
    font-size: var(--font-size-text-preset-2);   
    letter-spacing: 0;
    line-height: 36px; /* 90% */
    
}
.item_8 img{
    width: 196px;
    height: 190px;
} 
